<!DOCTYPE html>
{% load staticfiles %}
{%load i18n%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'auth/style.css' %}">
    <title>Activation success</title>
</head>
<body>
<div class="col-sm-8 col-sm-offset-2">
    <strong>{{ user }}</strong>, {% trans "ваш аккаунт успешно активирован."%}
    <a href="/main/">{% trans Вернуться на главную%}</a>
</div>
</body>
</html>