<!doctype html>
{% load staticfiles %}
{%load i18n%}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'auth/style.css' %}">
    <title>Sign in</title>
</head>
<body>
<header class="row header">
    <div  class="col-sm-2 text-center">
        <a href="/main" class="header_links"> iShare </a>
    </div>
    <div class="col-sm-10" name="тупо затычка гы"></div>
</header>

<div class="col-sm-6 col-sm-offset-3">
    <div class="col-sm-12" style="border-bottom: 1px solid lightblue"><h1>{%trans "Регистрация"%}</h1></div>

    <div class="col-sm-12">
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="row row-input">
            <div class="col-sm-3">
                <label>{%trans "Имя пользователя"%}</label>
            </div>

            <input class="form-control" name="name" type="text" value="{{ form.name }}">
        </div>

        <div class="row row-input">
            <div class="col-sm-3">
                <label>Email</label>
            </div>

            <input class="form-control" type="email" name="email" value="{{ form.email }}">
        </div>

        <div class="row row-input">
            <div class="col-sm-3">
                <label>Пароль</label>
            </div>

            <input class="form-control" type="password" name="password" value="{{ form.password }}">
        </div>

        <div class="row row-input">
            <div class="col-sm-3">
                <label>{%trans "Подтвердите пароль"%}</label>
            </div>

            <input class="form-control" type="password" name="c_password" value="{{ form.c_password }}">
        </div>

        <div class="row row-input">
            <input class="btn btn-primary" type="submit" value="{%trans 'Готово'%}">
        </div>
    </form>
    </div>
</div>
</body>
</html>