<!doctype html>
{% load staticfiles %}
{%load i18n%}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'auth/style.css' %}">
    <title>Sign in</title>
</head>
<body>

<header class="row header">
<div  class="col-sm-2 text-center">
    <a href="/main" class="header_links"> iShare </a>
</div>
<div class="col-sm-10"></div>
</header>

  <div class="col-sm-6 col-sm-offset-3">
    <div class="col-sm-12" style="border-bottom: 1px solid lightblue"><h1>{%trans "Авторизация"%}</h1></div>
    <div class="col-sm-12">
        {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label>{%trans "Логин"%}</label>
            <input class="form-control" name="name" type="text" value="{{ form.name }}" required>
        </p>
        <p>
            <label>{%trans "Пароль"%}</label>
            <input class="form-control" type="password" name="password" value="{{ form.password }}" required>
        </p>
        <p>
        <div class="row">
            <div class="col-sm-1">
            <button class="btn btn-primary" type="submit">{%trans "Готово"%}</button>
            </div>
            <div class="col-sm-2 col-sm-offset-8">
            <a href="/auth/sign_up">{%trans "Зарегистрироваться"%}</a>
            </div>
        </div>
    </form>
    </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 5px">
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'social:begin' 'twitter' %}"><img src="{% static 'auth/twitter.png'%}"
        height="30px"></a>

        <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'auth/facebook.png'%}"
        height="30px"></a>

        <a href="{% url 'social:begin' 'vk-oauth2' %}"><img src="{% static 'auth/vkcom.svg'%}"
        height="30px"></a>
    </form>
    </div>
</body>
</html>
