{% load staticfiles %}
<script type="text/javascript" src="{% static 'main/comments.js' %}"></script>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
            {% for comment in comments %}
                <div id="parent-comments-{{ comment.id }}"  class="question-row">
                    <p>{{ comment.content }}</p>
                    <div>{{ comment.user }} | {{ comment.timestamp|timesince }} ago |
                        <a class="like-btn"
                           data-href="{{ comment.get_api_like_url }}"
                           data-likes='{{ comment.likes.count }}'
                           href="#">Likes: {{ comment.likes.count }} </a>
                        <a class="comment-reply-btn" href="#"
                           data-href="{{ comment.id }}" onclick="$('#reply-div').fadeToggle();">Ответить</a>
                    </div>
                    {% for child_1 in comment.children %}
                    <br/>
                        <div id="child-1-comments-{{ child_1.id }}" class="col-sm-offset-1">
                            <p>{{ child_1.content }}</p>
                            <div>{{ child_1.user }} | {{ child_1.timestamp|timesince }} ago |
                                <a class="like-btn"
                                   data-href="{{ child_1.get_api_like_url }}"
                                   data-likes='{{ child_1.likes.count }}'
                                   href="#">Likes: {{ child_1.likes.count }} </a>
                                <a class="comment-reply-btn" href="#"
                                   data-href="{{ child_1.id }}" onclick="$('#reply-div').fadeToggle();">Ответить</a>
                            </div>
                            {% for child_2 in child_1.children %}
                            <br/>
                                <div id="child-2-comments-{{ child_2.id }}"
                                      class="col-sm-offset-1">
                                    <p>{{ child_2.content }}</p>
                                    <div>{{ child_2.user }} | {{ child_2.timestamp|timesince }} ago |
                                        <a class="like-btn"
                                           data-href="{{ child_2.get_api_like_url }}"
                                           data-likes='{{ child_2.likes.count }}'
                                           href="#">Likes: {{ child_2.likes.count }} </a>
                                        <a class="comment-reply-btn" href="#"
                                           data-href="{{ child_2.id }}" onclick="$('#reply-div').fadeToggle();">Ответить</a>
                                    </div>
                                    {% for child_3 in child_2.children %}
                                    <br/>
                                        <div id="child-3-comments-{{ child_3.id }}"
                                              class="col-sm-offset-1">
                                            <p>{{ child_3.content }}</p>
                                            <div>{{ child_3.user }}
                                            | {{ child_3.timestamp|timesince }} ago |
                                                <a class="like-btn"
                                                   data-href="{{ child_3.get_api_like_url }}"
                                                   data-likes='{{ child_3.likes.count }}'
                                                   href="#">Likes: {{ child_3.likes.count }} </a>
                                                <a class="comment-reply-btn" href="#"
                                                   data-href="{{ child_3.id }}" onclick="$('#reply-div').fadeToggle();">Ответить</a>
                                            </div>
                                            {% for child_4 in child_3.children %}
                                            <br/>
                                                <div id="child-4-comments-{{ child_4.id }}"
                                                      class="col-sm-offset-1">
                                                    <p>{{ child_4.content }}</p>
                                                    <div>{{ child_4.user }}
                                                        | {{ child_4.timestamp|timesince }} ago |
                                                        <a class="like-btn"
                                                           data-href="{{ child_4.get_api_like_url }}"
                                                           data-likes='{{ child_4.likes.count }}'
                                                           href="#">Likes: {{ child_4.likes.count }} </a>
                                                        <a class="comment-reply-btn" href="#"
                                                           data-href="{{ child_4.id }}" onclick="$('#reply-div').fadeToggle();">Ответить</a>
                                                    </div>

                                                    {% for child_5 in child_4.children %}
                                                    <br/>
                                                        <div id="child-5-comments-{{ child_5.id }}"
                                                              class="col-sm-offset-1">
                                                            <p>{{ child_5.content }}</p>
                                                            <div>{{ child_5.user }}
                                                                | {{ child_5.timestamp|timesince }} ago |
                                                            <a class="like-btn"
                                                                data-href="{{ child_5.get_api_like_url }}"
                                                                data-likes='{{ child_5.likes.count }}'
                                                                href="#">Likes: {{ child_5.likes.count }} </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <br/>
            {% endfor %}
</div>
</div>