{% extends "main_base.html"%}
{% load staticfiles %}
{% load i18n %}
{% block new_workbook %}
<form method="post" class="col-sm-offset-1 col-sm-10">
    {% csrf_token %}
    <div class="row content-row">
    <div class="col-sm-2">{% trans "Описание"%}:</div>
    <div class="col-sm-8"><textarea class="form-control" type="text" name="description" style="resize: none" required></textarea></div>
    </div>

    <div class="row content-row">
    <div class="col-sm-2">{% trans "Группа"%}: </div>
    <div class="col-sm-8"><input name="speciality" class="form-control" type="number" min="0" required></div>
    </div>

    <div class="row text-center">
    {{form.text}}
    </div>

    <div class="row content-row">
    <div class="col-sm-2">{% trans "Тэги"%}{% trans "(используйте пробелы для разделения тэгов)" %}: </div>
    <div class="col-sm-8"><textarea class="form-control" type="text" name="tag_field" style="resize: none"></textarea></div>
    </div>

    <div class="col-sm-offset-2">
    <input class="btn btn-primary" type="submit" value="{% trans 'Сохранить'%}" name="save">
    </div>
</form>
{%endblock%}