{% extends "main_base.html" %}
{% load staticfiles %}
{%load i18n%}
{% block workbook_view %}

    <link rel="script" href="{% static 'main/style.css' %}">
    <div class="row" style="margin-top: 10px;">

<div class="col-sm-8 col-sm-offset-2">
    <p><b>{% trans "Автор" %}:</b>{{workbook.author.username}}
    {%ifnotequal request.user workbook.author%}
    {%if request.user.is_authenticated%}
    <a href="/question/ask/{{workbook.pk}}">{%trans "Спросить автора"%}</a></p></div>
    {%endif%}
    {%endifnotequal%}
</div>

<div class="row">
<div class="col-sm-8 col-sm-offset-2" style="word-wrap: break-word"><p><b>{% trans "Описание"%}:</b> {{workbook.description}}</p></div>
</div>

<div class="row">
<div class="col-sm-8 col-sm-offset-2"><p><b>{% trans "Группа"%}:</b> {{workbook.speciality}}</p></div>
</div>

<div class="row">
<div class="col-sm-8 col-sm-offset-2"><p><b>{% trans "Изменен"%}:</b> {{workbook.updating_time}}</p></div>
</div>

<div class="row">
<div class="col-sm-8 col-sm-offset-2"><p><b>{% trans "Тэги"%}:</b> {{workbook.tag_field}}</p></div>
</div>

<div class="row plain-text-row">
    <div class="col-sm-offset-2 col-sm-8 plain-text">
        {% autoescape off %}
        {{ workbook.text }}
        {% endautoescape %}
    </div>
    {% if workbook.author == user or user.is_superuser %}
    <div class="col-sm-2 buttons">
        <div style="margin-bottom: 10px">
            <a href="edit">
            <button class="btn btn-secondary">{% trans "Редактирование"%}</button>
            </a>
        </div>

        <div>
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="delete" class="btn btn-danger">{% trans "Удаление"%}</button><!-- нужен js confirm!!!!!!! -->
            </form>
        </div>
    </div>
    {%endif%}
</div>

{% if user.is_authenticated %}
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h4>{%trans "Оставить комментарий"%}</h4>
       <form method="POST" action="." id="comment-form"
                 data-href="{{ workbook.get_absolute_comments_add_url }}">
                {% csrf_token %}
               {{ comment_form}}
               <input  type="hidden" name="parent_id" value="">
               <a href="#" id="submit-comment" class="btn btn-primary">{%trans "Отправить"%}</a>
       </form>
    </div>
    </div>

    <form method="POST" id="all_comments">

    </form>

        <div class="col-sm-8 col-sm-offset-2" id="reply-div" style="display: none;">
                <form method="POST" action="." id="submit-reply-form" data-id="{{ workbook.pk }}"
                      data-href="{{ workbook.get_absolute_comments_add_url }}" >
                      {% csrf_token %}
                    {{ comment_form }}
                    <input id="greenLion" type="hidden" name="parent_id" value="">
                    <a href="#" id="submit-reply" class="btn btn-primary" onclick="$('#reply-div').fadeToggle();">{%trans "Ответить"%}</a>
                </form>
            </div>
    {% endif %}
{% endblock %}
