.header_links{
    vertical-align: middle;
    font-size: 20px;
    text-decoration: none;
    color: lightblue
}

a{
    text-decoration: none!important;
}

.workbook-row{
    border-bottom: solid 1px lightblue;
    padding: 5px 3px 3px;
}

.cloud{
    padding: 10px 10px 30px;
}

.tag{
    border-radius: 4px;
    background-color: lightgray;
    padding: 4px;
    margin: 4px;
    float: left;

}

body{
    background: url('../auth/auth_bg.jpg');
}

.plain-text-row{
    min-height: 70vh;
}

.plain-text{
    background-color: white;
    font-size: 16px;
    min-height: inherit;
}

.buttons{
    font-size: 16px;
}

.content-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-sm-8{
    padding-right: 0px;
    padding-left: 0px;
}

.user{
    overflow: hidden;
}

.question-row{
    border-bottom: solid 2px lightblue;
    padding: 5px 3px 3px;
    word-wrap: break-word;
}

/*div{border: solid}*/