{%extends "main_base.html"%}
{% block answer_question %}
{%load i18n%}
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
    <form method="post">
        {%csrf_token%}
        {%for question in questions%}
        <h4>{%trans "Пользователь"%} {{question.author.username}} {%trans "задал вопрос"%}:</h4>
        {{question.question}}<br/>
        {%endfor%}
        <h5>{%trans "Ответить"%}:</h5>

        <textarea name="answer" class="form-control" style="resize: none"></textarea>

        <button type="submit" class="btn btn-primary">{%trans "Ответить"%}</button>
    </form>
</div>
</div>
{% endblock %}