{%extends "main_base.html"%}
{%load i18n%}
{% block ask_question %}
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
    <form method="post">
        {%csrf_token%}
        <h4>{%trans "Спроси"%} {{user.username}}:</h4>

        <textarea name="question" class="form-control" style="resize: none"></textarea>

        <button type="submit" class="btn-primary btn">{%trans "Задать вопрос"%}</button>
    </form>
</div>
</div>
{% endblock %}