{%extends "main_base.html"%}
{%load i18n%}
{% block questions %}
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
{%for question in questions%}
    <div class="row question-row">
        <p>{%trans "Вопрос"%}:<br/>{{question.author}} ({{question.question_time}})<br/>
        <div class="col-sm-offset-1"><b>{{question.question}}</b></div>
        </p>

        {%if question.answer%}
        <p>{%trans "Ответ"%}:<br/>{{question.user_to}} ({{question.question_time}})<br/>
        <div class="col-sm-offset-1"><b>{{question.answer}}</b></div>
        </p>
        {%else%}
        <p><a href="/question/answer/{{question.pk}}">{%trans "Ответить"%}</a></p>
        {%endif%}
    </div>
{%endfor%}
</div>
</div>
{% endblock %}