textarea {
    resize: none;
    scroll-padding-bottom: 0;
    overflow: auto;
}

.header_links {
    vertical-align: middle;
    font-size: 20px;
    text-decoration: none !important;
    color: lightblue;
}

.header {
    background-color: black;
    margin-bottom: 10px;
    padding: 10px 5px 10px 15px;
}

.row-input{
    padding: 3px;
}

body{
    background: url('auth_bg.jpg');
}

/*div{border: solid 1px;}*/