{% extends "main_base.html"%}
{% load staticfiles %}
{% load i18n %}
{% block search %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% if query %}
            <div class="col-sm-8 col-sm-offset-2">
            <h4>{% trans "Результаты поиска по запросу"%}: {{query}}</h4>

            {% for result in page.object_list %}
            <div class="col-sm-10 col-sm-offset-1 workbook-row">
                <div class="col-sm-9">
                    <a href="/main/{{result.object.pk}}"> {{ result.object.description }} </a>
                </div>
                <div class="col-sm-3">
                {% load ratings %}{% ratings result.object %}
                </div>
            </div>
            {% empty %}
                <p>{% trans "По вашему запросу ничего не найдено"%}</p>
            {% endfor %}

            </div>
        {% endif %}
{%endblock%}
