{%extends "main_base.html"%}
{%load staticfiles%}
{% load i18n %}
{%block change_password%}
<script>
    function confirm_password(){
        var pas1 = document.getElementById('password1').value;
        var pas2 = document.getElementById('password2').value;
        var error = document.getElementById('error');
        var confirm_button = document.getElementById('confirm_button');
        if (pas1.localeCompare(pas2) !== 0){
            error.innerHTML = 'Пароли не совпадают';
            confirm_button.disabled = true;
        }
        else{
            error.innerHTML = '';
            confirm_button.disabled = false;
        }
    }
</script>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<form method="post">
{%csrf_token%}
<h4>{% trans "Изменение пароля"%}</h4>
<label for="old-password">{% trans "Введите старый пароль" %}</label>
<input id="old-password" name="old-password" class="form-control">
<label for="password1">{% trans "Введите новый пароль"%}</label>
<input id="password1" name="password1" type="password" class="form-control">
<label for="password2">{% trans "Подтвердите пароль"%}</label>
<input id="password2" name="password2" type="password" oninput="confirm_password()" class="form-control">
<button type="submit" class="btn-primary btn" id="confirm_button" disabled>{% trans "Изменить"%}</button>
{{error}}
</form>
<p id="error"></p>
{%if success%}
{% trans "Пароль успешно изменен"%}
<a href="/main">{% trans "Вернуться на главную страницу"%}</a>
{%endif%}
</div>
</div>
{%endblock%}