{%extends "main_base.html"%}
{%load staticfiles%}
{% load i18n %}
{%block homepage%}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{%if user.is_anonymous%}
<div>
    <a href="/main"> You can't do anything here</a>
</div>
{%else%}
<div class="col-sm-2">
<h3>{%trans "Неотвеченные вопросы"%}</h3>
    {%for question in questions%}
    <p><a href="/question/answer/{{question.pk}}"> {{question.question}}</a></p>
    {%empty%}
    {%trans "Вы на все ответили"%}
    {%endfor%}
    <br/><br/>
    <p><a href="/question/asked">{%trans "Вам задавали"%}</a></p>
    <p><a href="/question/you_ask">{%trans "Вы задавали"%}</a></p>
</div>
<div class="col-sm-8"><h2>{%trans "Ваши конспекты"%}</h2></div>
<div class="col-sm-8">
    {% for workbook in workbooks %}
    <div class="col-sm-10 col-sm-offset-1 workbook-row">
        <a href="/main/{{ workbook.pk }}">
        <div class="col-sm-9">{{ workbook.description }}</div>
        </a>
    <div class="col-sm-3">{% load ratings %}{% ratings workbook %}</div>
    </div>
    {% endfor %}
    <div class="col-sm-2" style="margin-top: 10px">
        <a href="/homepage/new"><input type="button" class="btn btn-primary" value="{% trans 'Добавить конспект'%}"></a>
    </div>
</div>
<div class="col-sm-2">
    <form method="post">
        {%csrf_token%}
        {% trans "Сортировать по:"%}
        {{form.field}}
        <button type="submit" name="filter" class="btn-primary btn" style="margin-top: 10px">{% trans "Сортировать"%}</button>
    </form>
</div>
{%endif%}
{%endblock%}