{%extends "main_base.html"%}
{%load staticfiles%}
{% load i18n %}
{%block profile%}
<div class="row" style="margin-top: 5%">
<div class="col-sm-5 col-sm-offset-3" style="font-size: 16px; border-top:lightblue solid 1px;border-bottom:lightblue solid 1px;">
    <div class="row">{% trans "Имя"%}: {{info.user.first_name}}</div>
    <div class="row">{% trans "Фамилия"%}: {{info.user.last_name}}</div>
    <div class="row">{% trans "Логин"%}: {{info.user.username}}</div>
    <div class="row">Email: {{info.user.email}}</div>
    {%if social_info %}
    <div class="row">{% trans "Вы были зарегистрированы через"%}: <a href="{{social_info.url}}">{{social_info.network}}</a></div>
    {%endif%}
    <div class="row">{% trans "Количество конспектов"%}: {{info.workbook_count}}</div>
</div>
<div class="col-sm-3">
    <p><a href="edit/">{% trans "Изменить профиль"%}</a></p>
    <p><a href="change_password/">{% trans "Изменить пароль"%}</a></p>
    <p><a href="/main/logout/" class="logout">{% trans "Выйти"%}</a></p>
</div>
</div>
{%endblock%}