{%extends "main_base.html"%}
{%load staticfiles%}
{% load i18n %}
{%block profile_edit%}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h4>{% trans "Внесите изменения в свой профиль"%}</h4>
        <form method="post">
            {%csrf_token%}
            <label for="username">{% trans "Логин"%}: </label>
            <input id="username" name="username" class="form-control" type="text" value="{{user.username}}">
            <label for="first_name">{% trans "Имя"%}: </label>
            <input id="first_name" name="first_name" class="form-control" type="text" value="{{user.first_name}}">
            <label for="last_name">{% trans "Фамилия"%}: </label>
            <input id="last_name" name="last_name" class="form-control" type="text" value="{{user.last_name}}">
            <br/>
            <button class="btn btn-primary" type="submit">{% trans "Сохранить изменения"%}</button>
            {%if valid_info%}
            <div class="row">
                {% trans "Данные успешно изменены"%}
                <a href="/main">{% trans "Вернуться на главную страницу"%}</a>
                {%endif%}
            </div>
        </form>
    </div>
</div>
{%endblock%}