<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'main/main.js' %}"></script>
    {%if request.session.theme %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/new_style.css' %}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    {% endif %}
     <title>iShare</title>
</head>
<body style="width: 100%" class="container">
<header>
    <div class="row" style="padding: 10px; background-color: #000;">
        <div class="col-sm-2 text-center"><a href="/main" class="header_links">iShare</a></div>
        <div class="col-sm-8">
            <form method="get" action="/search">
                {%csrf_token%}
                <input name="q" type="text">
                <button type="submit"name="search"><span class = "glyphicon glyphicon-search"></span> {% trans 'Поиск' %}</button>
            </form>
        </div>
        <div class="col-sm-2 user text-right">
            {% if not user.is_anonymous %}
            <a href="/homepage" class="header_links" title="{{ user.username }}">
            {% if user.first_name %}
            {{ user.first_name }}
            {% else %}
            {{ user.username }}
            {% endif %}
            </a>
            <a href="/homepage/profile/"><img src="{% static 'auth/settings_image.png'%}" height="20px"></a>
            {% else %}
            <a href="/auth/sign_in/" class="header_links">{% trans "Войти" %}</a>
            {% endif %}
        </div>
    </div>
</header>
{% block main %}            {% endblock %}
{% block homepage %}        {% endblock %}
{% block search %}          {% endblock %}
{% block workbook_view %}   {% endblock %}
{% block new_workbook %}    {% endblock %}
{% block edit_workbook %}   {% endblock %}
{% block profile_edit %}    {% endblock %}
{% block profile %}         {% endblock %}
{% block chane_password %}  {% endblock %}
{% block change_password %} {% endblock %}
{% block ask_question %}    {% endblock %}
{% block answer_question %} {% endblock %}
{% block questions %}       {% endblock %}
</body>
</html>