{% extends "main_base.html"%}
{% load staticfiles %}
{% load i18n %}
{% block main %}
<div class="row">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% if tag %}
    <div class="col-sm-offset-3 col-sm-8"><h4>{% trans "Записи с тэгами"%}:{{ tag }}</h4></div>
    {% endif %}
    <br/>

    <div class="col-sm-8 col-sm-offset-2">
    {% for workbook in workbooks %}
        <div class="col-sm-10 col-sm-offset-1 workbook-row">
        <a href="/main/{{ workbook.pk }}"><div class="col-sm-9">{{ workbook.description }}</div></a>
        <div class="col-sm-3">{% load ratings %}{% ratings workbook %}</div>
        </div>
    {% endfor %}
    </div>

    <div class="col-sm-2 cloud">
        <h4 align="center">{% trans 'Тэги'%}</h4>
        {% for tag in cloud %}
            <a href="/main/tagged/{{ tag.pk }}"><div class="tag">{{ tag }}</div></a>
        {% endfor %}
    </div>
</div>
{%if not tag %}

<div class="row" style="margin-top: 28%">
<div class="col-sm-4 col-sm-offset-2" style="color: grey; padding-right: 0px;">
    <p style="border-bottom: lightskyblue solid 1px">{% trans 'Язык' %}</p>
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }}
                </option>
            {% endfor %}
        </select>
        <br/>
        <input type="submit" value="{% trans 'Изменить' %}" class="btn">
    </form>
</div>
<div class="col-sm-4" style="color: grey; padding-left: 0px;">
    <p style="border-bottom: lightskyblue solid 1px">{% trans 'Тема' %}</p>
    <form method="post">
    {% csrf_token %}
    <button name="theme" class="btn">{% trans "Изменить тему" %}</button>
    </form>
</div>
</div>
{%endif%}
{% endblock %}